# Build and Release Folders
bin-debug/
bin-release/
node_modules/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/

# Executables
*.swf
*.air
*.ipa
*.apk
/.vitepress/cache
/.vitepress/theme
/.vitepress/config.mts
utils/
public/
pages/
index.md
LICENSE
package-lock.json
package.json
test2.js
test1.html
test2.html
a.html

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
